@import 'src/css/app.scss';

.UserHeader {
  background-color: $secondary;
  padding: 1.625rem 1.2rem 1rem 2.5rem;
  min-height: 245px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;

  &__back_btn {
    margin-left: -0.875rem;
    margin-top: -0.125rem;

    .q-btn {
      padding: 0;
    }

    .q-btn__content {
      justify-content: center;
      text-align: left;
      color: $gray-dark;
      font-size: 1.2rem;
      font-weight: bolder;
      font-family: Helvetica;

      .q-icon {
        margin-right: 0;
        margin-bottom: 0.125rem;

        svg {
          height: 22px;
        }
      }
    }
  }

  &__greetings {
    font-size: 1.19rem;
    margin-bottom: 1.19rem;
    line-height: 1.625rem;
  }

  &__names {
    margin-top: 0.25rem;
    font-size: 1.8125rem;
    font-weight: bolder;
    line-height: 1.82rem;
  }

  &__text {
    p {
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__membership {
    &--active {
      color: $positive;
    }

    &--inactive {
      color: $negative;
    }
  }

  &__avatar_btn {
    position: relative;
    margin-top: 0.5rem;
  }

  &__avatar {
    width: 5.7rem;
    height: 5.7rem;
  }

  &__editIcon {
    position: absolute;
    bottom: 12px;
    transform: translateY(40%);
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  }

  &__content {
    flex-wrap: nowrap;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    gap: 0.1rem;
    flex-direction: column;
  }

  &__information {
    margin-top: 0.875rem;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__summary {
    width: 100%;
    min-width: 7rem;
  }

  &__qr_code {
    align-self: flex-end;
    width: 100%;
    max-width: 8rem;
    min-width: 7rem;

    & > div {
      text-align: right;
    }
  }

  .q-btn input[type='file'] {
    cursor: pointer;
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
