@import '../../css/app.scss';

.login {
  padding: 6rem 1.25rem 0;
  width: 21.563rem;
  max-width: 64rem;
  margin: 0 auto;

  &__container {
    max-width: 25rem;
    margin: 0 auto;
  }

  &__logo {
    margin: 0 auto;
    display: block;
    width: 3.5625rem;
    margin-bottom: 3.5625rem;
  }

  &__caption {
    font-size: 1.1875rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__submit {
    padding: 0.75rem 0;
    text-transform: initial;
  }

  &__other_links {
    text-align: center;
    margin-top: 0.75rem;
  }

  &__forgotten_link {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    background-color: transparent;
    border: unset;
    cursor: pointer;
  }

  &__get_account {
    display: block;
    text-decoration: none;
    margin: 1rem auto 0;
    color: $accent;
    font-weight: 500;
    background-color: transparent;
    border: unset;
    cursor: pointer;
  }

  &__input {
    padding: 0 0.875rem;
    font-size: 0.75rem;

    & ~ div {
      padding: 0 0.875rem;
      color: $gray-light;
    }
  }
}

.infoIcon {
  width: 50px;
  margin: 0 auto 10px;
  display: block;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  font-weight: 500;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;

  &__copy_icon {
    width: 20px;
  }
}
