.Providers {
  padding: 10px;

  &__content {
    padding: 10px;

    @media screen and (min-width: 400px) {
      padding: 30px;
    }
  }
}

.ProvidersList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  margin-top: 20px;

  &__item {
    cursor: pointer;
    height: 100%;
    width: 100%;

    img {
      aspect-ratio: 1/1;
      object-fit: scale-down;
    }
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
