@import 'src/css/app.scss';

.UserInformation {
  margin-top: 3.35rem;
  padding-left: 2.5rem;
  padding-bottom: 5rem;

  &__text,
  &__password {
    font-size: 0.75rem;

    p {
      font-size: 1.32rem;
      font-weight: 700;
      margin-bottom: 10rem;
      font-family: Helvetica;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
    span {
      font-family: Helvetica;
    }
  }

  &__password {
    display: flex;
    column-gap: 5px;
    font-family: Helvetica;
    margin-bottom: 0.5rem;

    .q-btn {
      background-color: $gray-light;
      color: $secondary;
      margin-right: 10px;
      padding: 0.1rem 1rem 0.1rem 1rem;

      span {
        font-size: 10px;
      }
    }
    span {
      font-family: Helvetica;
    }
  }

  &__password-form-btn,
  &__edit-password-btn {
    span {
      font-family: Helvetica;
    }
  }

  &__password-form-btns {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__edit-password-btn {
    margin-left: auto;
  }

  &__logout-btn {
    margin-top: 20px;

    span {
      font-size: 10px;
      font-family: Helvetica;
    }
  }
}
