@import 'src/css/app.scss';

.UserInformation {
  margin-top: 0.2rem;
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 5rem;

  &__text {
    font-size: 0.875rem;

    p {
      font-weight: bolder;
      margin-bottom: 10rem;
      font-family: Helvetica;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  &__password {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    p {
      font-weight: bolder;
      margin-bottom: 10rem;
      font-family: Helvetica;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
    .q-btn {
      background-color: $gray-light;
      color: $gray-dark;
      text-transform: none;
      margin-right: 10px;
      padding: 0.1rem 1rem 0.1rem 1rem;
    }
  }

  &__btn {
    span {
      font-family: Helvetica;
    }
  }
}
