@import '../../css/app.scss';

.HomeLayout {
  &__content {
    padding: 1.9375rem 0 0 2rem;
  }

  &__list {
    margin-bottom: 2.56rem;

    &--providers {
      .HorizontalScroll {
        gap: 0.7rem;
      }
    }
  }

  &__listItem {
    &--event {
      width: 16.2rem;
      height: 6.65rem;

      .EventCard__imageContainer {
        width: 5.625rem;
        height: 5.6rem;
      }
    }

    .ProviderCard {
      width: 6.35rem;
      height: 6.35rem;
    }
  }
}
