@import '../../css/app.scss';

.HomeLayout {
  &__content {
    padding: 1.375rem 0 1.25rem 2rem;
  }

  &__list {
    margin-bottom: 2.5rem;
  }

  &__seeAll {
    display: flex;
    height: 6.375rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    a {
      color: $dark;
      text-decoration: underline;
    }
  }

  &__listItem {
    &--event {
      width: 75vw;
      min-width: 15.5rem;
      max-width: 26rem;
    }
  }
}
