@import '../../css/app.scss';

.SearchBar {
  &__form {
    display: flex;
    gap: 1.06rem;
  }

  &__form_button {
    border-radius: 0.31rem;
  }

  &__input {
    width: 100%;

    .q-field__control {
      border-radius: 6px;
      height: 3.125rem;
    }

    .q-field__native {
      padding-left: 0.5rem;
      font-size: 0.56rem;
      line-height: 0.81rem;
    }
  }
}
