@import '../../css/app.scss';

.SearchBar {
  &__form {
    display: flex;
    gap: 0.81rem;
  }

  &__input {
    width: 100%;

    .q-field__control {
      border-radius: 6px;
      height: 3.125rem;
    }

    .q-field__native {
      padding-left: 0.5rem;
    }
  }
}
