@import '../../css/app.scss';

.Detail {
  background-color: $white-flight;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__name {
    font-size: 0.95rem;
    color: $gray-dim;
    font-weight: bolder;
    line-height: normal;
    margin-top: 1.31rem;
    margin-bottom: 1.44rem;
  }

  &__image {
    background-color: white;
    border-radius: 5px;
    height: 60vh;

    .q-img__image {
      background-color: white;
      padding: 1.25rem;
      object-fit: contain !important;
    }
  }

  &__information {
    display: flex;
    justify-content: space-between;
    margin-top: 1.06rem;
  }
}
