.ProductListItem {
  list-style-type: none;

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__price {
    font-weight: 600;
    white-space: nowrap;
  }

  &__leftAlignedContent {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  &__name {
    margin: 0 1.25rem 0 0.18rem;
    font-size: 1.06rem;
    line-height: 1.25rem;
  }
}
