@import '../../css/app.scss';

.header-with-search-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $secondary;
  padding: 2rem 2.94rem 0.69rem 2.94rem;
  border-radius: 0 0 5px 5px;
  height: 9.625rem;

  &__img {
    width: 5rem;
    height: 2.5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain !important;
    }
  }

  &__btn-badge {
    bottom: 0;
    right: 0.25rem;
    top: unset;
  }

  &__cart-btn {
    width: 2.75rem;
    height: 2.75rem;
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.875rem;
  }

  &__title {
    margin: 0 0 0.75rem;
    line-height: 0.875rem;
    font-weight: bold;
    font-size: 1.19rem;
    color: $gray-dim;
  }

  &__input {
    .q-field__control {
      height: 3rem;
    }
  }
}
