@import './colors.variables.scss';
@import './fontFamilies.scss';

* {
  font-family: 'Visby';
}

// app global css in SCSS form
// Util classes
.bg-white-flight {
  background-color: $white-flight;
}

.text-white-flight {
  color: $white-flight;
}

.text-gray-dim {
  color: $gray-dim;
}

// Default styles
img {
  max-width: 100%;
}
