// Custom color variables
$white-flight: #f2f2f2;
$gray-dim: #707070;
$gray-chinese-silver: #ccc7c7;
$gray-light: #c9c9c9;
$gray-dark: #474343;
$gray-border: #dfdfdf;

$colors: (
  --q-gray-light: #{$gray-light},
);
