@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-RegularOblique.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-BoldOblique.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-MediumOblique.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Visby';
  src: url('../assets/fonts/Visby/VisbyCF-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
