.ProductsQuantity {
  &__input {
    align-self: center;
    display: inline-block;

    .q-field__control {
      width: 1.3125rem;
      height: 1.3125rem;
      padding: 0 0.125rem;
      border-radius: 4px;
    }
    margin: 0 0.625rem;
  }
}
