.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.25rem;
  margin: 1.25rem;
}

.Products {
  margin: 1.25rem;

  &__filters {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    gap: 1.25rem;
  }
}

.ProductList__item {
  &_button {
    width: 100%;
  }

  &_price {
    color: $positive;
    font-size: 1.2rem;
  }
}
