.events {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  &__container {
    padding: 0 3.375rem 1.12rem 2.25rem;
    margin: auto;
    margin-top: 2.2rem;
  }
  &__header.HeaderWithBackBtn {
    padding-left: 2.5rem;
  }

  &__empty-message {
    font-size: 1.2rem;
    text-align: center;
  }
}
